<style>
    body {
        background-color: #f8f9fa;
    }
    
    .card {
        border: 1px solid #dee2e6;
        border-radius: 0.5rem;
    }
    
    .card-title {
        font-weight: bold;
    }
    </style>
    </head>
    <body>
    
        <div class="container my-5">
            <h1 class="mb-4">Order Details</h1>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Order ID: <%= orders.order_id %></h5>
                    <p class="card-text"><strong>User ID:</strong> <%= orders.user_id%></p>
                    <p class="card-text"><strong>Address ID:</strong> <%= orders.address[0]._id%></p>
                    <p class="card-text"><strong>Order Status:</strong> <%= orders.order_status %></p>
                    <p class="card-text"><strong>Payment Method:</strong> <%= orders.payment_method === 'card' ? 'Raz or Pay' : orders.payment_method === 'wallet'  ? 'Wallet' : 'Cash on Delivery' %></p>
                    
                    <h2 class="mt-4">Items</h2>
                    <ul class="list-group">
                        <% orders.items.forEach(function(item) { %>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <img src="<%= item.product_id.images[0] %>" class="img-fluid" alt="Product Image" style="width: 50px; height: 50px; margin-right: 10px;">
                                    <div>
                                        <strong>Product Name:</strong> <%= item.product_id.product_name %><br>
                                        <strong>Quantity:</strong> <%= item.quantity %><br>
                                        <strong>Price:</strong> ₹<%= item.price.toFixed(2) %><br>
                                    </div>
                                </div>
                            </li>
                        <% }); %>
                    </ul>
                    <a href="/admin/orders" class="btn  mt-3" style="width: 6rem; background-color: #88c8bc;">Back</a>
                </div>
            </div>
        </div>