
<div class="container mt-5">
    <div class="d-flex justify-content-end align-items-center mb-4">
        <a href="/admin/add_product">
            <button class="btn custom-btn">
                Add New Product
            </button>
        </a>
    </div>
</div>

<div class="table-container">
    <table class="table table-hover table-borderless table-responsive">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Size</th>
                <th>Color</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% Products.forEach((product, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= product.paroduct_name %></td>
                    <td><%= product.category %></td>
                    <td><%= product.brand %></td>
                    <td><%= product.size %></td>
                    <td><%= product.color %></td>
                    <td>
                        <% if (product.stock > 0) { %>
                            <%= product.stock %> In Stock
                        <% } else { %>
                            <span class="out-of-stock">Out of Stock</span>
                        <% } %>
                    </td>
                    <td>$<%= product.price %></td>
                    <td>
                        <% if (product.images && product.images.length > 0) { %>
                            <img src="<%= product.images[0] %>" class="img-fluid img-thumbnail pro-img-width" alt="Product Image">
                        <% } %>
                    </td>
                    <td class="action-btns">
                        <a href="/admin/edit_product/<%= product._id %>">
                            <button class="btn btn-success btn-sm">Edit</button>
                        </a>
                        <form action="/admin/delete_product/<%= product._id %>" method="POST" style="display:inline;">
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>  
</div>
