<style>
    .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: #88c8bc;
    text-decoration: none;
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a.active {
    background-color: #88c8bc;
    color: #fff;
    border: 1px solid #88c8bc;
}

.pagination a:hover {
    background-color: #ddd;
}
</style>

<div class="table-container">
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach((user, index) => { %>
            <tr>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td><%= user.phone %></td>
                <td>
                    <% if (user.isBlocked) { %>
                    <a href="/admin/unblockUser/<%= user.id %>" class="btn-custom badge-custom badge-unblock">Unblock</a>
                    <% } else { %>
                    <a href="/admin/blockUser/<%= user.id %>" class="btn-custom badge-custom btn-danger badge-block">Block</a>
                    <% } %>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<!-- Pagination Controls -->
<div class="pagination">
    <% for (let i = 1; i <= totalPages && i <= 5; i++) { %>
        <a href="/admin/users?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
    <% } %>
</div>
