
<%- include('../partials/header.ejs') %>
<style>
.addAddress{
    font-size: 16px;
    display: flex;
    align-items: center; 
    justify-content: center;
    
}

.addAddress:hover {
    background-color: #29302a; 
}
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
}
</style>
<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="address">Select Address</label>
                        <div class="form-field">
                            <i class="icon icon-arrow-down3"></i>
                            <select name="address" id="address" class="form-control">
                                <console class="log">{addresses}</console>
                                <option value="#">Select Address</option>
                                <% if (addresses && addresses.length > 0) { %>
                                    <% addresses.forEach(address => { %>
                                        <option value="<%= address._id %>">
                                            <%= address.full_name %> - <%= address.street_address %>, <%= address.city %>, <%= address.state %> - <%= address.pincode %>, <%= address.country %>
                                        </option>
                                    <% }) %>
                                <% } else { %>
                                    <option value="">No addresses found</option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>
                        
                <form method="POST" class="colorlib-form">
                    <h2>Address Details</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fname">Full Name</label>
                                <input type="text" id="fname" class="form-control" placeholder="Your firstname">
                                <small id="fullNameErr" class="text-danger"></small>
                            </div>
                        </div>
                
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" id="address" class="form-control" placeholder="Enter Your Address">
                                <small id="addressErr" class="text-danger"></small>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <input type="text" name="country" id="country" class="form-control" placeholder="Country">
                                    <small id="countryErr" class="text-danger"></small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="towncity">City</label>
                                    <input type="text" id="towncity" class="form-control" placeholder="City">
                                    <small id="cityErr" class="text-danger"></small>
                                </div>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="stateprovince">State</label>
                                    <input type="text" id="stateprovince" class="form-control" placeholder="State ">
                                    <small id="stateErr" class="text-danger"></small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="zippostalcode">PinCode</label>
                                    <input type="text" id="zippostalcode" class="form-control" placeholder="ZipCode">
                                    <small id="zipErr" class="text-danger"></small>
                                </div>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">E-mail Address</label>
                                    <input type="text" id="email" class="form-control" placeholder="Email">
                                    <small id="emailErr" class="text-danger"></small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone">Phone Number</label>
                                    <input type="text" id="phone" class="form-control" placeholder="Phone Number">
                                    <small id="phoneErr" class="text-danger"></small>
                                </div>
                            </div>
                        </div>
                        
                        <button class="btn btn-primary address-button" onclick="createAddress(event)">Create</button>
                    </div>
                </form>
                
            </div>

            <div class="col-lg-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cart-detail">
                            <h2>Cart Total</h2>
                            <ul>
                                <li>
                                    <span><strong>Product</strong></span> <span><strong>Amount</strong></span>
                                    <ul>
                                        <% if (typeof cart.items !='undefined' ) { %>
                                            <% cart.items.forEach(item=> { %>
                                                <li><span>
                                                        <%= item.quantity %> x <%= item.product_id.product_name%>
                                                    </span> 
                                                    <span>
                                                        <%= item.price %>
                                                    </span></li>
                                                <% }) %>
                                                    <% } %>
                                    </ul>
                                </li>
                                <li id="discount-div"><span>Discount</span> 
                                    <span id="discount-price-div">
                                      0
                                    </span></li>
                                <li id="delivery-div"><span>Delivery</span>
                                <span id="delivery-price-div">
                                    <%= cart.delivery_charge%>
                                </span></li>
                                <li><span>Order Total</span> <span id="ordertotal">
                                        <%= cart.total_price%>
                                    </span></li>
                            </ul>
                        </div>
                    </div>

                   <div class="w-100"></div>
                   <div class="col-md-12">
                    <div class="cart-detail">
                        <h2>Use Coupon Code</h2>
                        <div class="discount-code-wrapper mb-4 p-4">
                            <div class="discount-code">
                                <p class="mb-0">
                                    <a id="openModal" class="text-primary" href="#">Available Coupons</a>
                                </p>
                                <div class="text-success" id="coupon-success"></div>
                
                                <!-- Coupon Modal -->
                                <div id="couponModal" class="modal">
                                    <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <h2>Coupon Details</h2>
                                        <% if (coupons && coupons.length > 0) { %>
                                            <p style="color: rgb(43, 109, 81);">Here are some great coupons for you:</p>
                                            <hr>
                                            <% coupons.forEach(val => { %>
                                                <ul>
                                                    <li>Coupon name: <%= val.coupon_code %></li>
                                                    <li>Code: <a id="couponCode<%= val._id %>"><%= val.coupon_code %></a></li>
                                                    <li>Discount: <%= val.discount %>%</li>
                                                    <li>End Date: <%= new Date(val.expiry_date).toLocaleDateString('en-GB') %></li>
                                                    <li>Min Purchase Amount: <%= val.min_pur_amount %></li>
                                                    <li><a style="color: rgb(80, 80, 251);" onclick="copyCode(event, '<%= val._id %>')" href="#">Copy Code</a></li>
                                                </ul>
                                                <hr>
                                            <% }) %>
                                        <% } else { %>
                                            <p>No coupons available at the moment.</p>
                                        <% } %>
                                    </div>
                                </div>
                
                                <form class="d-flex flex-column">
                                    <input type="text" required id="coupon-code" class="mb-2" placeholder="Enter Coupon Code" />
                                    <div class="d-flex justify-content-between">
                                        <button class="cart-btn-2 btn btn-primary" onclick="applyCoupon(event)" type="button">Apply Coupon</button>
                                        <button onclick="clearCoupon()" class="cart-btn-2 bg-secondary btn btn-secondary" type="button">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="cart-detail">
                        <h2>Payment Method</h2>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="radio">
                                    <label><input type="radio" name="payment_method" value="card" required>Razorpay</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="radio">
                                    <label><input type="radio" name="payment_method" value="COD">Cash on Delivery</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p><a href="" class="btn btn-primary place-order" onclick="placeOrder()">Place an order</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function createAddress(event) {
    event.preventDefault();

    const fullName = document.getElementById('fname').value;
    const address = document.getElementById('address').value;
    const city = document.getElementById('towncity').value;
    const state = document.getElementById('stateprovince').value;
    const zipcode = document.getElementById('zippostalcode').value;
    const phone = document.getElementById('phone').value;
    const country = document.getElementById('country').value;
    const email = document.getElementById('email').value;

    const phoneErr = document.getElementById('phoneErr');
    const zipErr = document.getElementById('zipErr');
    const fullNameErr = document.getElementById('fullNameErr');
    const addressErr = document.getElementById('addressErr');
    const cityErr = document.getElementById('cityErr');
    const stateErr = document.getElementById('stateErr');
    const countryErr = document.getElementById('countryErr');
    const emailErr = document.getElementById('emailErr');

    [phoneErr, zipErr, fullNameErr, addressErr, cityErr, stateErr, countryErr, emailErr].forEach(err => {
        if (err) err.innerHTML = '';
    });

    const phoneRegex = /^[0-9]{10}$/;
    const zipRegex = /^[0-9]{6}(?:-[0-9]{4})?$/;
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

    let isValid = true;

    if (!phoneRegex.test(phone)) {
        phoneErr.innerHTML = "Invalid phone number";
        isValid = false;
    }

    if (fullName === "") {
        fullNameErr.innerHTML = "Full name is required";
        isValid = false;
    }

    if (city === "") {
        cityErr.innerHTML = "City is required";
        isValid = false;
    }

    if (state === "") {
        stateErr.innerHTML = "State is required";
        isValid = false;
    }

    if (country === "") {
        countryErr.innerHTML = "Country is required";
        isValid = false;
    }

    if (!emailRegex.test(email)) {
        emailErr.innerHTML = "Invalid email address";
        isValid = false;
    }

    if (!zipRegex.test(zipcode)) {
        zipErr.innerHTML = "Invalid Pincode";
        isValid = false;
    }

    if (!isValid) {
        Swal.fire({
            title: "Error!",
            text: "Please fill all fields correctly.",
            icon: "error",
            timer: 1500,
            showConfirmButton: false
        });
        return;
    }

    const userId = "<%= userId %>";
    const data = {
        full_name: fullName,
        street_address: address,
        pincode: zipcode,
        city: city,
        phone: phone,
        country: country,
        state: state,
        user_id: userId
    };

    console.log("Form is valid. Proceed with submission.", data);

            console.log(data)
        fetch('/address/add-address', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                Swal.fire({
                title: "Success",
                text: "Address added successfully",
                icon: "success",
                timer: 1500,
                showConfirmButton: false
            }).then(()=>{
                window.location.reload();
            })
            } else {
                Swal.fire({
                title: "failed",
                text: "Failure in Address adding ",
                icon: "error",
                timer: 1500,
            })

            }
        })
        .catch((error) => {
            console.error('Error:', error);
            Swal.fire({
                title: "Error!",
                text: "Please try again later",
                icon: "error",
                timer: 1500,
                showConfirmButton: false
            });
        });
    }

 async function placeOrder() {
  const addressId = document.getElementById("address").value
  const paymentMethod = document.querySelector('input[name="payment_method"]:checked')

  if (addressId === "#" || !paymentMethod) {
    Swal.fire({
      title: "Error",
      text: "Please select address and payment method.",
      icon: "error",
      timer: 1500,
      showConfirmButton: false
    })
    return
  }

  const orderData = { address_id: addressId, payment_method: paymentMethod.value }

  const response = await fetch('/order/place_order', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(orderData)
  });

  if (response.ok) {
    const result = await response.json();
    
    if (paymentMethod.value === 'COD') {
      Swal.fire({
        icon: 'success',
        title: 'Order Placed',
        text: 'Your order has been placed successfully.',
        confirmButtonText: 'OK'
      }).then(() => {
        window.location.href = '/';
      });
    } 
    else if (paymentMethod.value === 'card') {
      const options = {
        key: 'rzp_test_MoQOrZAlepfiB7',
        amount: result.amount * 100,
        currency: 'INR',
        name: 'FootPrints',
        description: "Payment for order",
        order_id: result.razorpayOrderId,
        handler: async function (response) {
          const verifyResponse = await fetch('/order/place_order', {
            method: "POST",
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              address_id: addressId,
              payment_method: paymentMethod.value,
              payment_id: response.razorpay_payment_id,
              order_id: response.razorpay_order_id,
              signature: response.razorpay_signature
            })
          });

          const verifyData = await verifyResponse.json();
          if (verifyResponse.ok && verifyData.success) {
            Swal.fire({
              icon: 'success',
              title: 'Order Placed',
              text: 'Your order has been placed successfully.',
              confirmButtonText: 'OK'
            }).then(() => {
              window.location.href = '/';
            });
          } else {
            Swal.fire({
              icon: 'error',
              title: "Payment Failed",
              text: verifyData.error || 'Payment verification failed. Please try again.',
              confirmButtonText: 'OK'
            });
          }
        },
        prefill: {
          name: 'User Name',
          email: 'useremail@email.com',
          contact: '112233665544'
        },
        theme: {
          color: "#000000"
        }
      }

      const razorpay = new Razorpay(options)
      razorpay.open()
    }
  } else {
    Swal.fire({
      icon: 'error',
      title: 'Failed to Order',
      text: 'Unable to place order. Please try again later.',
      confirmButtonText: 'OK'
    });
  }
}


document.querySelector('.place-order').addEventListener('click', (event) => {
    event.preventDefault();  
    placeOrder(); 
});

async function applyCoupon(event) {
  event.preventDefault()
  
  const couponCode = document.getElementById('coupon-code').value
  const totalPrice = document.getElementById('ordertotal').textContent
    console.log(couponCode,totalPrice)
  if (!couponCode) {
    Swal.fire({
      icon: 'warning',
      title: 'Oops...',
      text: 'Please enter a coupon code.'
    })
    return
  }

  try {
    const response = await fetch('/apply-coupon', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ couponCode,totalPrice })
    })

    const data = await response.json()
    
    if (data.success) {
      Swal.fire({
        icon: 'success',
        title: 'Coupon Applied!',
        text: `New total: ₹${data.newTotal}`,
        showConfirmButton: false,
        timer: 2000
      })
      document.getElementById('coupon-success').innerText = `Coupon applied! New total: ₹${data.newTotal}`
      document.getElementById('discount-price-div').innerHTML = data.discount
      document.getElementById('ordertotal').innerHTML = data.newTotal
    } else {
      Swal.fire({
        icon: 'error',
        title: 'Invalid Coupon',
        text: data.message
      })
    }
  } catch (error) {
    console.error('Error applying coupon:', error)
    Swal.fire({
      icon: 'error',
      title: 'Error',
      text: 'There was an error applying the coupon. Please try again later.'
    })
  }
}


    // Get the modal, the button that opens it, and the close button
    const modal = document.getElementById("couponModal")
    const openModalBtn = document.getElementById("openModal")
    const closeModalBtn = document.querySelector(".close")
  
    // Open the modal when clicking "Available Coupons"
    openModalBtn.addEventListener("click", function (event) {
      event.preventDefault()
      modal.style.display = "block"
    })
  
    // Close the modal when clicking the "x" button
    closeModalBtn.addEventListener("click", function () {
      modal.style.display = "none"
    })
  
    // Close the modal if the user clicks outside the modal content
    window.addEventListener("click", function (event) {
      if (event.target == modal) {
        modal.style.display = "none"
      }
    })
    function copyCode(event, couponId) {
        event.preventDefault()

        const couponCodeElement = document.getElementById(`couponCode${couponId}`)
        
        const tempInput = document.createElement("input")
        document.body.appendChild(tempInput)
        tempInput.value = couponCodeElement.textContent // Set the input's value to the coupon code
        tempInput.select() // Select the text inside the input

        // Copy the selected text to the clipboard
        document.execCommand("copy")
        
        // Remove the temporary input element
        document.body.removeChild(tempInput)

        // Optional: Show a confirmation message
        document.getElementById("coupon-success").textContent = "Coupon code copied!"
        setTimeout(() => {
            document.getElementById("coupon-success").textContent = ""
        }, 3000)
    }
  
</script>

<%- include('../partials/footer.ejs') %>