
	<%- include('../partials/header.ejs') %>
	<style>
		.offer-badge {
    position: absolute;
    top: 10px;
    right: 16px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 1;
}

.discounted-price {
    color: red;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
    color: gray;
    margin-left: 10px;
}
	</style>
		<aside id="colorlib-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(public/images/img_bg_1.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-sm-6 offset-sm-3 text-center slider-text">
				   				<div class="slider-text-inner">
				   					<div class="desc">
					   					<h1 class="head-1">Men's</h1>
					   					<h2 class="head-2">Shoes</h2>
					   					<h2 class="head-3">Collection</h2>
					   					<p class="category"><span>New trending shoes</span></p>
					   					<p><a href="#" class="btn btn-primary">Shop Collection</a></p>
				   					</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url(https://media.gq.com/photos/65299dac7bbbf40c4282063e/16:9/w_1920,c_limit/casual-shoes-update.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-sm-6 offset-sm-3 text-center slider-text">
				   				<div class="slider-text-inner">
				   					<div class="desc">
					   					<h1 class="head-1">Huge</h1>
					   					<h2 class="head-2">Sale</h2>
					   					<h2 class="head-3"><strong class="font-weight-bold">50%</strong> Off</h2>
					   					<p class="category"><span>Big sale sandals</span></p>
					   					<p><a href="#" class="btn btn-primary">Shop Collection</a></p>
				   					</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url(public/images/img_bg_3.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-sm-6 offset-sm-3 text-center slider-text">
				   				<div class="slider-text-inner">
				   					<div class="desc">
					   					<h1 class="head-1">New</h1>
					   					<h2 class="head-2">Arrival</h2>
					   					<h2 class="head-3">up to <strong class="font-weight-bold">30%</strong> off</h2>
					   					<p class="category"><span>New stylish shoes for men</span></p>
					   					<p><a href="#" class="btn btn-primary">Shop Collection</a></p>
				   					</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
		<div class="colorlib-intro">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h2 class="intro">It started with a simple idea: Create quality, well-designed products that I wanted myself.</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="colorlib-product">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6 text-center">
						<div class="featured">
							<a href="/shop" class="featured-img" style="background-image: url(https://imgs.search.brave.com/4_WZeDTMGp_WtVl5qAiDWDxHLwKsvFVWsH2ciOVUo4g/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5ncS1tYWdhemlu/ZS5jby51ay9waG90/b3MvNjZkOTg5MGMz/M2JlZjY3Y2VlM2I0/ZGNmLzE6MS9wYXNz/L05pa2UtQ3lnbmFs/LmpwZw);"></a>
							<div class="desc">
								<h2><a href="#">Shop Winter Collection</a></h2>
							</div>
						</div>
					</div>
					<div class="col-sm-6 text-center">
						<div class="featured">
							<a href="/shop" class="featured-img" style="background-image: url(https://imgs.search.brave.com/vfd2MnolmsPZHCxVnUzXLQxHNxUR0fsS2piv-uOwryw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5ncS1tYWdhemlu/ZS5jby51ay9waG90/b3MvNjZkNWNiZTlm/MTQ1NjZkYzE2NmEy/MTkyLzE6MS9wYXNz/L05pa2UtQzFUWS5q/cGc);"></a>
							<div class="desc">
								<h2><a href="#">Shop Summer Collection</a></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-product">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
						<h2>Best Sellers</h2>
					</div>
				</div>
				<div class="row row-pb-md">
					<% if (products.length > 0) { %>
                        <% products.forEach((product) => { %>
                            <div class="col-lg-4 mb-4 text-center">
                                <div class="product-entry border">
                                    
                                    <% if (product.offer && product.offer.discount_percentage > 0) { %>
                                        <div class="offer-badge">
                                            <%= product.offer.discount_percentage %>% OFF
                                        </div>
                                    <% } %>
                                    
                                    <a href="/product-view/<%= product._id %>" class="prod-img">
                                        <img src="<%= product.images[0] %>" class="img-fluid" alt="Product Image">
                                    </a>
                                    
                                    <div class="desc">
                                        <h2><a href="/product_view/<%= product._id%>"><%= product.product_name %></a></h2>
                                        
                                        <span class="price">
                                            <% if (product.applied_discount_percentage > 0) { %>
                                                <span class="discounted-price" style="color: rgb(27, 134, 39); font-weight: bold;">
                                                    ₹<%= (product.variants[0].price * (1 - product.applied_discount_percentage / 100)).toFixed(2) %>
                                                </span>
                                                <span class="original-price" style="text-decoration: line-through; color: rgb(198, 17, 17);">
                                                    ₹<%= product.variants[0].price %>
                                                </span>
                                            <% } else { %>
                                                ₹<%= product.variants[0].price %>
                                            <% } %>
                                        </span>
            
                                        <p class="star">
                                            <span style="color: rgb(227, 211, 29);">
                                                <i class="icon-star-full"></i>
                                                <i class="icon-star-full"></i>
                                                <i class="icon-star-full"></i>
                                                <i class="icon-star-full"></i>
                                                <i class="icon-star-empty"></i>
                                            </span>
                                            (85%)
                                        </p>
            
                                        <div class="icons d-flex justify-content-center mt-2">
                                            <p class="addtowishlist">
                                                <% if (user) { %>
                                                    <button type="button" class="btn btn-outline-danger" 
                                                            onclick="addToWishlist('<%= user._id %>', '<%= product._id %>')">
                                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                                    </button>
                                                <% } else { %>
                                                    <button type="button" class="btn btn-outline-danger" 
                                                            onclick="goTologin()">
                                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                                    </button>
                                                <% } %>
                                            </p>
                                            <p class="addtocart">
                                                <% if (user) { %>
                                                    <button type="button" class="btn btn-success" 
                                                            onclick="addToCart('<%= user._id %>', '<%= product._id %>', 1)">
                                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                    </button>
                                                <% } else { %>
                                                    <button type="button" class="btn btn-success" 
                                                            onclick="goTologin()">
                                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                    </button>
                                                <% } %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    <% } else { %>
						<div>
							<h1>No Products Available</h1>
						</div>
					<% } %>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<p><a href="/shop" class="btn btn-primary btn-lg">Shop All Products</a></p>
					</div>
				</div>
			</div>
		</div>
		

		<div class="colorlib-partner">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
						<h2>Trusted Partners</h2>
					</div>
				</div>
				<div class="row">
					<div class="col partner-col text-center">
						<img src="public/images/brand-1.jpg" class="img-fluid-logo" alt="Free html4 bootstrap 4 template">
					</div>
					<div class="col partner-col text-center">
						<img src="public/images/brand-2.jpg" class="img-fluid-logo" alt="Free html4 bootstrap 4 template">
					</div>
					<div class="col partner-col text-center">
						<img src="public/images/brand-3.jpg" class="img-fluid-logo" alt="Free html4 bootstrap 4 template">
					</div>
					<div class="col partner-col text-center">
						<img src="public/images/brand-4.jpg" class="img-fluid-logo" alt="Free html4 bootstrap 4 template">
					</div>
					<div class="col partner-col text-center">
						<img src="public/images/brand-5.jpg" class="img-fluid-logo" alt="Free html4 bootstrap 4 template">
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function addToWishlist(userId, productId) {
    fetch('/wishlist/add', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ userId, productId }),
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            Swal.fire({
                title: "Added!",
                text: data.message,
                icon: "success",
                timer: 1500,
                showConfirmButton: false
            });
        }
    })
    .catch(error => {
        console.error('Error:', error);
        Swal.fire({
            title: "Error!",
            text: "Something went wrong. Please try again.",
            icon: "error",
            timer: 1500,
            showConfirmButton: false
        });
    });
}
function addToCart(userId, productId, quantity) {
 

    fetch('/cart/add', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ userId, productId, quantity}),
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            Swal.fire({
                title: "Success!",
                text: data.message,
                icon: "success",
                timer: 1500,
                showConfirmButton: false
            });
            setTimeout(() => {
                window.location.reload();  
            }, 1000);
        } else {
            Swal.fire({
                title: "Error!",
                text: data.message,
                icon: "error",
                timer: 1500,
                showConfirmButton: false
            });
        }
    })
    .catch(error => {
        console.error('Error:', error);
        Swal.fire({
            title: "Error!",
            text: "Something went wrong. Please try again.",
            icon: "error",
            timer: 1500,
            showConfirmButton: false
        });
    });
}
</script>
<script>
	function goTologin(){
	 window.location.href = '/login'
}
</script>
<%- include('../partials/footer.ejs') %>
		