
<%- include('../partials/header.ejs') %>
<style>
    .dropdown {
        margin-top: 20px;
    }

    .form-select {
        width: 200px;
        border-radius: 0.375rem; 
        border: 1px solid #88c8bc
    }

    .form-select:focus {
        border-color: #88c8bc; 
        box-shadow: 0 0 0 0.2rem rgba(88, 172, 124, 0.25);
    }
</style>
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a href="/">Home</a></span> / <span>Shop</span></p>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumbs-two">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumbs-img" style="background-image: url(public/images/cover-img-1.jpg);">
                    <h2>Products</h2>
                </div>
                <div class="menu text-center">
                    <p><a href="#">New Arrivals</a> <a href="#">Best Sellers</a> <a href="#">Extended Widths</a> <a href="#">Sale</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="colorlib-featured">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="featured">
                    <div class="featured-img featured-img-2" style="background-image: url(https://imgs.search.brave.com/CLEn4x1-baB7XnAC9nsuWsLY_X5GA_dC7wdMDoG5JBM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9oaXBz/LmhlYXJzdGFwcHMu/Y29tL3ZhZGVyLXBy/b2QuczMuYW1hem9u/YXdzLmNvbS8xNjg0/MzM0Mjk0LXcxMjAw/LXE2MC02NDY0ZTZj/ZWFkZWMzLmpwZz9j/cm9wPTEuMDB4dzow/Ljc1MXhoOzAsMC4y/NDl4aCZyZXNpemU9/OTgwOio);">
                        <h2>Casuals</h2>
                        <p><a href="#" class="btn btn-primary btn-lg">Shop now</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="featured">
                    <div class="featured-img featured-img-2" style="background-image: url(https://imgs.search.brave.com/fehoFDrCyURUnNCCRwSEtBZ8Tjm_Tvhl31vRYZqL4TA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9k/ZXJieS1zaG9lcy1t/ZW4tZm9ybWFsLXdl/YXJfNTM4NzYtOTY2/MDkuanBnP3NpemU9/NjI2JmV4dD1qcGc);">
                        <h2>Formels</h2>
                        <p><a href="#" class="btn btn-primary btn-lg">Shop now</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="featured">
                    <div class="featured-img featured-img-2" style="background-image: url(public/images/item-11.jpg);">
                        <h2>Sports</h2>
                        <p><a href="#" class="btn btn-primary btn-lg">Shop now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col text-end"> 
            <div class="dropdown">
                <select id="sortBy" class="form-select" aria-label="Sort by">
                    <option value="">Sort by</option>
                    <option value="priceLowToHigh">Price: Low to High</option>
                    <option value="priceHighToLow">Price: High to Low</option>
                    <option value="newArrivals">New Arrivals</option>
                    <option value="aToZ">A to Z</option>
                    <option value="zToA">Z to A</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div id="productsContainer"></div>
<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xl-3">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="side border mb-1">
                            <h3>Brand</h3>
                            <ul>
                                <li><a href="#">Nike</a></li>
                                <li><a href="#">Adidas</a></li>
                                <li><a href="#">Jorthan</a></li>
                                <li><a href="#">Gucci</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="side border mb-1">
                            <h3>Size/Width</h3>
                            <div class="block-26 mb-2">
                                <h4>Size</h4>
                           <ul>
                              <li><a href="#">5</a></li>
                              <li><a href="#">6</a></li>
                              <li><a href="#">7</a></li>
                              <li><a href="#">7.5</a></li>
                              <li><a href="#">8</a></li>
                              <li><a href="#">8.5</a></li>
                              <li><a href="#">9</a></li>
                              <li><a href="#">10</a></li>
                           </ul>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="side border mb-1">
                            <h3>Style</h3>
                            <ul>
                                <li><a href="#">Boots</a></li>
                                <li><a href="#">Loafers</a></li>
                                <li><a href="#">Sneakers</a></li>
                                <li><a href="#">Oxfords</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="side border mb-1">
                            <h3>Colors</h3>
                            <ul>
                                <li><a href="#">Black</a></li>
                                <li><a href="#">White</a></li>
                                <li><a href="#">Blue</a></li>
                                <li><a href="#">Grey</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-xl-9">
                <div class="row row-pb-md">
                    <% if (products.length > 0) { %>
                        <% products.forEach((product) => { %>
                            <div class="col-lg-4 mb-4 text-center">
                                <div class="product-entry border">
                                    <a href="/product-view/<%= product._id %>" class="prod-img">
                                        <img src="<%= product.images[0] %>" class="img-fluid" alt="Product Image">
                                    </a>
            
                                    <div class="desc">
                                        <h2><a href="/product_view/<%= product._id%>"><%= product.product_name %></a></h2>
                                        <span class="price">$<%= product.variants[0].price %></span>
                                        <p class="star">
                                            <span style="color: rgb(227, 211, 29);">
                                                <i class="icon-star-full"></i>
                                                <i class="icon-star-full"></i>
                                                <i class="icon-star-full"></i>
                                                <i class="icon-star-full"></i>
                                                <i class="icon-star-empty"></i>
                                            </span>
                                            (85%)
                                        </p>
                                        <div class="icons d-flex justify-content-center mt-2">
                                            <p class="addtowishlist">
                                                <% if (user) { %>
                                                    <button type="button" class="btn btn-outline-danger" 
                                                            onclick="addToWishlist('<%= user._id %>', '<%= product._id %>')">
                                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                                    </button>
                                                <% } else { %>
                                                    <button type="button" class="btn btn-outline-danger" 
                                                            onclick="goToLogin()">
                                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                                    </button>
                                                <% } %>
                                            </p>
                                            <p class="addtocart">
                                                <% if (user) { %>
                                                    <button type="button" class="btn btn-success" 
                                                            onclick="addToCart('<%= user._id %>', '<%= product._id %>', 1)">
                                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                    </button>
                                                <% } else { %>
                                                    <button type="button" class="btn btn-success" 
                                                            onclick="goToLogin()">
                                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                    </button>
                                                <% } %>
                                            </p>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <div>
                            <h1>No Products</h1>
                        </div>
                    <% } %>
                </div>
            </div>
            
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="block-27">
                       <ul>
                           <li><a href="#"><i class="ion-ios-arrow-back"></i></a></li>
                          <li class="active"><span>1</span></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <li><a href="#"><i class="ion-ios-arrow-forward"></i></a></li>
                       </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="colorlib-partner">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h2>Trusted Partners</h2>
            </div>
        </div>
        <div class="row">
            <div class="col partner-col text-center">
                <img src="public/images/brand-1.jpg" class="img-fluid-logo" alt="Free html4 bootstrap 4 template">
            </div>
            <div class="col partner-col text-center">
                <img src="public/images/brand-2.jpg" class="img-fluid-logo" alt="Free html4 bootstrap 4 template">
            </div>
            <div class="col partner-col text-center">
                <img src="public/images/brand-3.jpg" class="img-fluid-logo" alt="Free html4 bootstrap 4 template">
            </div>
            <div class="col partner-col text-center">
                <img src="public/images/brand-4.jpg" class="img-fluid-logo" alt="Free html4 bootstrap 4 template">
            </div>
            <div class="col partner-col text-center">
                <img src="public/images/brand-5.jpg" class="img-fluid-logo" alt="Free html4 bootstrap 4 template">
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function addToWishlist(userId, productId) {
    fetch('/wishlist/add', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ userId, productId }),
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            Swal.fire({
                title: "Added!",
                text: data.message,
                icon: "success",
                timer: 1500,
                showConfirmButton: false
            });
        }
    })
    .catch(error => {
        console.error('Error:', error);
        Swal.fire({
            title: "Error!",
            text: "Something went wrong. Please try again.",
            icon: "error",
            timer: 1500,
            showConfirmButton: false
        });
    });
}

  function addToCart(userId, productId, quantity) {
    console.log('hello') 
    const selectedQuantity = quantity    
    console.log(selectedQuantity)
    fetch('/cart/add', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ userId, productId, quantity: selectedQuantity }),
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            Swal.fire({
                title: "Success!",
                text: data.message,
                icon: "success",
                timer: 1500,
                showConfirmButton: false
            });
            setTimeout(() => {
                window.location.reload();  
            }, 1000);
        } else {
            Swal.fire({
                title: "Error!",
                text: data.message,
                icon: "error",
                timer: 1500,
                showConfirmButton: false
            });
        }
    })
    .catch(error => {
        console.error('Error:', error);
        Swal.fire({
            title: "Error!",
            text: "Something went wrong. Please try again.",
            icon: "error",
            timer: 1500,
            showConfirmButton: false
        });
    });
}

</script>
<script>
    document.getElementById('sortBy').addEventListener('change', function() {
        const sorting = this.value
        window.location.href = `/shop?sorting=${sorting}`
    })
</script>
<script>
function goTologin(){
    window.location.href = '/login'
}
</script>
<%- include('../partials/footer.ejs') %>